<div style='width: 100vw; height: 100vh;'>
  <mat-toolbar style='width: 100vw;' [style.background-color]="ldata.colors[ldata.selected_color]">Final Fight Dice</mat-toolbar>
  <div style='display: flex;'>
  <table>
  <tr>
    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_ability'>
      </mat-form-field>
    </td>
    <td style='width: 10rem;'>
      <button mat-button (click)='rollability()' style='background-color: #272727; color: goldenrod;'>ability</button>
    </td>

    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_challenge'>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)='rollchallenge()' style='background-color: #272727; color: firebrick'>challenge</button>
    </td>
  </tr>

  <tr>
    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_prof'>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)='rollprof()' style='background-color: #272727; color: seagreen'>proficiency</button>
    </td>

    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_difficulty'>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)='rolldifficulty()' style='background-color: #272727; color: blueviolet'>difficulty</button>
    </td>  
  </tr>


  <tr>
    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_boost'>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)='rollboost()' style='background-color: #272727; color: skyblue'>boost</button>
    </td>

    <td>
      <mat-form-field style='width: 3rem;'>
        <input matInput [(ngModel)]='d_setback'>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)='rollsetback()' style='background-color: #272727; color: darkslateblue'>setback</button>
    </td>
  </tr>


  <br>


  <tr>
    <td colspan=2>
      <button mat-raised-button color='primary' (click)='rollcheck()'>roll check</button>
    </td>
    <td colspan=2>
      <button mat-raised-button color='accent' (click)='rolldc()'>roll DC</button>
    </td>  
  </tr>
<tr>
</tr>
<tr>
</tr>
  <tr>
    <td colspan="2">
      <p *ngIf="r_success > 0" style='color: seagreen'>{{r_success}} successes</p>
    </td>
    <td colspan="2">
      <p *ngIf="r_failiure > 0" style='color: firebrick'>{{r_failiure}} failiures</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p *ngIf="r_advantage > 0" style='color: goldenrod'>{{r_advantage}} advantage</p>
    </td>
    <td colspan="2">
      <p *ngIf="r_threat > 0" style='color: blueviolet'>{{r_threat}} threat</p>
    </td>
  </tr>

</table>

<div style='padding-left: 4rem;'>
  <!-- <p>Difficulty Chart:</p> -->
  <table mat-table [dataSource]='difficultytable' style='width: 24rem;' class='mat-elevation-z4'>
    <ng-container matColumnDef='pos'>
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>
    <ng-container matColumnDef='difflvl'>
      <th mat-header-cell *matHeaderCellDef> *Difficulty </th>
      <td mat-cell *matCellDef="let element"> {{element.difflvl}} </td>
    </ng-container>
    <ng-container matColumnDef='tooltip'>
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.tooltip}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <label>tips</label>
  <table>
    <tr>
      <td>
        <label class='lowalpha' matTooltip='Natural ability. Typically 2s or 3s. Eg: quick thinker, fast reflexes'>*Abilities</label>
      </td>
      <td>
        <label class='lowalpha' matTooltip='Upgrade purples to reds if theres a chance for something to go horribly wrong. Eg: bridge crossing & its possible to fall to death'>*Challenges</label>
      </td>
    </tr>
    <tr>
      <td>
        <label class='lowalpha' matTooltip="Chosen focuses. Typically a +1 'I trained for this moment'">*Proficiencies</label>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <label class='lowalpha' matTooltip="Receiving aid / talents. Eg: I have the high ground, I'm using my toolbox">*Boosts</label>
      </td>
      <td>
        <label class='lowalpha' matTooltip='Unfavorable conditions. Eg: low vis/fog, inclement weather, gotta be quiet so the guards dont notice'>*Setbacks</label>
      </td>
    </tr>
    <tr>
      <td>
        <label class='lowalpha' matTooltip='Something good happens. Eg: you hit, and it crits. Or you miss, but now hes wide open'>*Advantages</label>
      </td>
      <td>
        <label class='lowalpha' matTooltip='Something bad happens. Eg: you hit, but you lose grip of your sword. Or you miss, and your sword goes flying'>*Threats</label>
      </td>
    </tr>
  </table>
  <!-- <p>difficulty meter:</p>
  <p>1 purple: ezpz</p> -->
</div>


</div>


<mat-divider></mat-divider>
<br>

<table>
  <label>results</label>
  <tr>
    <td>
      <p *ngIf="r_success - r_failiure > 0; else failed" style='color: seagreen' >{{r_success - r_failiure}} success</p>
      <ng-template #failed><p *ngIf="r_success - r_failiure < 0" style='color: firebrick'>{{r_failiure - r_success}} failiure</p></ng-template>
    </td>
  </tr>
  <tr>
    <td>
      <p *ngIf="r_advantage - r_threat > 0; else failed2" style='color: goldenrod' >{{r_advantage - r_threat}} advantage</p>
      <ng-template #failed2><p *ngIf="r_advantage - r_threat < 0" style='color: blueviolet'>{{r_threat - r_advantage}} threat</p></ng-template>
    </td>
  </tr>

</table>


<br>



<br>
<p>{{r_triumph}} triumph {{r_despair}} despair</p>

<table>
  <tr>
    <button mat-raised-button (click)='resetcheck()' color='primary'>clear check</button>
  </tr>
  <tr>
    <button mat-raised-button (click)='resetdc()' color='accent'>clear dc</button>
  </tr>
  <tr>
    <button mat-raised-button (click)='resetall()' color='warn'>reset</button>    
  </tr>
</table>



</div>



