<table>


  <tr>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_ability'>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_prof'>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_boost'>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_challenge'>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_difficulty'>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='d_setback'>
      </mat-form-field>
    </td>

    <td>

    </td>

  </tr>






  <tr>


    <td>
      <button mat-raised-button (click)='rollability()' style='color: goldenrod;'>ability</button>
    </td>

    <td>
      <button mat-raised-button (click)='rollprof()' style='color: seagreen'>proficiency</button>
    </td>



    <td>
      <button mat-raised-button (click)='rollboost()' style='color: skyblue'>boost</button>
    </td>


    <td>
      <button mat-raised-button (click)='rollchallenge()' style='color: firebrick'>challenge</button>
    </td>



    <td>
      <button mat-raised-button (click)='rolldifficulty()' style='color: blueviolet'>difficulty</button>
    </td>


    <td>
      <button mat-raised-button (click)='rollsetback()' style='color: darkslateblue'>setback</button>
    </td>






  </tr>
  <tr>
    <td colspan="3">
      <button mat-raised-button (click)='rollcheck()'>roll check</button>

    </td>
    <td colspan="3">
      <button mat-raised-button (click)='rolldc()'>roll DC</button>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      <p *ngIf="r_success > 0" style='color: seagreen'>{{r_success}} successes</p>
    </td>
    <td colspan="3">
      <p *ngIf="r_failiure > 0" style='color: firebrick'>{{r_failiure}} failiures</p>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p *ngIf="r_advantage > 0" style='color: goldenrod'>{{r_advantage}} advantage</p>
    </td>
    <td colspan="3">
      <p *ngIf="r_threat > 0" style='color: blueviolet'>{{r_threat}} threat</p>
    </td>
  </tr>


</table>

<mat-divider></mat-divider>

<table>

  <tr>
    <td>
      <p *ngIf="r_success - r_failiure > 0; else failed" style='color: seagreen' >{{r_success - r_failiure}} success</p>
      <ng-template #failed><p *ngIf="r_success - r_failiure < 0" style='color: firebrick'>{{r_failiure - r_success}} failiure</p></ng-template>
    </td>
  </tr>
  <tr>
    <td>
      <p *ngIf="r_advantage - r_threat > 0; else failed2" style='color: goldenrod' >{{r_advantage - r_threat}} advantage</p>
      <ng-template #failed2><p *ngIf="r_advantage - r_threat < 0" style='color: blueviolet'>{{r_threat - r_advantage}} threat</p></ng-template>
    </td>
  </tr>

</table>


<br>



<br>
<p>{{r_triumph}} triumph {{r_despair}} despair</p>

<button mat-raised-button (click)='resetcheck()' color='primary'>clear check</button>
<button mat-raised-button (click)='resetdc()' color='primary'>clear dc</button>
<button mat-raised-button (click)='resetall()' color='primary'>reset</button>
