<div>
<mat-toolbar style='width: 100vw;' [style.background-color]="ldata.colors[ldata.selected_color]">{{ldata.current_user}}'s SpellPoints</mat-toolbar>
  <!-- titletable -->
  <div class='mat-elevation-z4' style='width: 100vw;'>
  <table>
    <tr>
      <td>
        <mat-form-field style='width: 19rem;'>
          <mat-label>class</mat-label>
          <mat-select [(value)]='ldata.selected_class' (selectionChange)='ldata.calcspellpoints()'>
            <mat-option value='fullcast' style='height: 100%;'>Bard / Cleric / Druid</mat-option>
            <mat-option value='sorc' style='height: 100%;'>Sorcerer</mat-option>
            <mat-option value='wiz' style='height: 100%;'>Wizurd</mat-option>
            <mat-option value='halfcast' style='height: 100%;'>Paladin / Ranger</mat-option>
            <mat-option value='thirdcast' style='height: 100%;'>Eldritch knight, Arcane trickster</mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field style='width: 5rem;'>
          <mat-label>level</mat-label>
          <mat-select [(value)]='ldata.lvl' (selectionChange)='ldata.calcspellpoints()'>
            <mat-option value=1 style='height: 100%;'>Lv 1</mat-option>
            <mat-option value=2 style='height: 100%;'>Lv 2</mat-option>
            <mat-option value=3 style='height: 100%;'>Lv 3</mat-option>
            <mat-option value=4 style='height: 100%;'>Lv 4</mat-option>
            <mat-option value=5 style='height: 100%;'>Lv 5</mat-option>
            <mat-option value=6 style='height: 100%;'>Lv 6</mat-option>
            <mat-option value=7 style='height: 100%;'>Lv 7</mat-option>
            <mat-option value=8 style='height: 100%;'>Lv 8</mat-option>
            <mat-option value=9 style='height: 100%;'>Lv 9</mat-option>
            <mat-option value=10 style='height: 100%;'>Lv 10</mat-option>
            <mat-option value=11 style='height: 100%;'>Lv 11</mat-option>
            <mat-option value=12 style='height: 100%;'>Lv 12</mat-option>
            <mat-option value=13 style='height: 100%;'>Lv 13</mat-option>
            <mat-option value=14 style='height: 100%;'>Lv 14</mat-option>
            <mat-option value=15 style='height: 100%;'>Lv 15</mat-option>
            <mat-option value=16 style='height: 100%;'>Lv 16</mat-option>
            <mat-option value=17 style='height: 100%;'>Lv 17</mat-option>
            <mat-option value=18 style='height: 100%;'>Lv 18</mat-option>
            <mat-option value=19 style='height: 100%;'>Lv 19</mat-option>
            <mat-option value=20 style='height: 100%;'>Lv 20</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox (change)='ldata.showpercent = !ldata.showpercent' [checked]='ldata.showpercent' style='padding-right: 1rem;' class='lowalpha'>show percentage</mat-checkbox>
        <mat-checkbox (change)='ldata.overlimit = !ldata.overlimit' [checked]='ldata.overlimit' style='padding-right: 1rem;' class='lowalpha'>overlimit</mat-checkbox>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style='width: 7rem;'>
        {{ldata.currentpoints}} / {{ldata.maxpoints}}
      </td>
      <td style='width: 4rem; text-align: left;' *ngIf="ldata.showpercent" class='lowalpha'>
        {{ldata.currentpoints/ldata.maxpoints | percent:'1.0-2'}}
      </td>
    </tr>
    <tr>
      <td style='color: rgba(255, 255, 255, .5);'>{{ldata.currentpoints}} -{{ldata.currentcost}} ⇀ {{ldata.currentpoints - ldata.currentcost}}</td>
      <td style='width: 4rem; text-align: left;' *ngIf="ldata.showpercent" class='lowalpha'>
        {{(ldata.currentpoints-ldata.currentcost)/ldata.maxpoints | percent:'1.0-2'}}
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style='width: 24rem;'>
        <!-- <mat-progress-bar style='position: absolute; top: 0; left: 0; z-index: 2; opacity: 33%;' color='accent' mode='determinate' [(value)]='ldata.currentpoints*200/ldata.maxpoints'></mat-progress-bar> -->
        <mat-progress-bar mode='determinate' [(value)]='ldata.currentpoints*100/ldata.maxpoints'></mat-progress-bar>
      </td>

    </tr>
    <!-- <tr>
      <td>
        <mat-progress-spinner mode='determinate' [(value)]='ldata.currentpoints*100/ldata.maxpoints'></mat-progress-spinner>
      </td>
    </tr> -->

    <tr><td><button mat-raised-button [style.background-color]="ldata.colors[ldata.selected_color]" (click)='ldata.castspell()'>cast</button></td></tr>
  </table>
  </div>


  <!-- spellslot list picker -->
  <div style='display: flex;'>
  <table class='mat-elevation-z4'>
    <tr>
      <td>
        <mat-selection-list [multiple]='false' style='width: 14rem;' [(ngModel)]='ldata.spellselected' (selectionChange)='ldata.spellcost()'>
          <mat-list-option value=0 *ngIf="ldata.maxspell >= 1 && ldata.currentpoints >= 0" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            cantrip
          </mat-list-option>
          <mat-list-option value=1 *ngIf="ldata.maxspell >= 1 && ldata.currentpoints >= 2" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            1st
            <label class='lowalpha'>casts left: {{ldata.currentpoints/2 | number:'1.0-0'}}</label>
          </mat-list-option>
          <mat-list-option value=2 *ngIf="ldata.maxspell >= 2 && ldata.currentpoints >= 3" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            2nd
            <label class='lowalpha'>casts left: {{ldata.currentpoints/3 | number:'1.0-0'}}</label>
          </mat-list-option>
          <mat-list-option value=3 *ngIf="ldata.maxspell >= 3 && ldata.currentpoints >= 5" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            3rd
            <label class='lowalpha'>casts left: {{ldata.currentpoints/5 | number:'1.0-0'}}</label>
          </mat-list-option>
          <mat-list-option value=4 *ngIf="ldata.maxspell >= 4 && ldata.currentpoints >= 6" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            4th
            <label class='lowalpha'>casts left: {{ldata.currentpoints/6 | number:'1.0-0'}}</label>
          </mat-list-option>
          <mat-list-option value=5 *ngIf="ldata.maxspell >= 5 && ldata.currentpoints >= 7" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            5th
            <label class='lowalpha'>casts left: {{ldata.currentpoints/7 | number:'1.0-0'}}</label>
          </mat-list-option>
          <mat-list-option value=6 *ngIf="ldata.dailies[0] && ldata.currentpoints >= 9" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            6th
            <label class='lowalpha'>casts left: {{ldata.dailies[0]}}</label>
          </mat-list-option>
          <mat-list-option value=7 *ngIf="ldata.dailies[1] && ldata.currentpoints >= 10" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            7th
            <label class='lowalpha'>casts left: {{ldata.dailies[1]}}</label>
          </mat-list-option>
          <mat-list-option value=8 *ngIf="ldata.dailies[2] && ldata.currentpoints >= 11" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            8th
            <label class='lowalpha'>casts left: {{ldata.dailies[2]}}</label>
          </mat-list-option>
          <mat-list-option value=9 *ngIf="ldata.dailies[3] && ldata.currentpoints >= 13" [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}">
            9th
            <label class='lowalpha'>casts left: {{ldata.dailies[3]}}</label>
          </mat-list-option>
        </mat-selection-list>
      </td>
    </tr>
  </table>


  <!-- sorcerer metaspell things i forgot what they were called actaully -->
  <table class='mat-elevation-z4' *ngIf="ldata.selected_class === 'sorc'">
    <tr>
      <td>
  <mat-selection-list #metamagicks style='width: 10rem;' (selectionChange)='ldata.modifycosts(metamagicks._value)'>
    <mat-list-option value=1
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip="Spells requiring a saving throw, you can force creatures to succeed. Max creature count = your CHA mod."
    > <!-- [checkboxPosition]=before -->
      careful
    </mat-list-option>
    <mat-list-option value=2
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='Spells with range of +5ft, double spell range. Touch spells gain a range of 30ft.'
    >
      distant
    </mat-list-option>
    <mat-list-option value=3
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='Spells with duration of 1+ min, double its duration. Max duration of an extended spell is 24hrs.'
    >
      extendo
    </mat-list-option>
    <mat-list-option value=4
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='Spells requiring a saving throw, give one target disadvantage on its first save.'
    >
      heighten
    </mat-list-option>
    <mat-list-option value=5
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='Spells with casting time of 1 action, change it to a bonus action.'
    >
      quicken
    </mat-list-option>
    <mat-list-option value=6
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='Spells cast without somatic or verbal components.'
    >
      subtle
    </mat-list-option>
    <mat-list-option value=7
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip="Spells that targets a single creature and doesn't have a range of self, target a 2nd creature within range. Cost = spell lvl(or 1 for cantrips)."
    >
      twin
    </mat-list-option>
    <mat-list-option value=8
    [ngStyle]="{'color':(ldata.colors[ldata.selected_color] === 'black') ? '#CCCCCC' : ldata.colors[ldata.selected_color]}"
    matTooltip='REEroll damage dice up to your CHA mod. You must use the new rolls.'
    >
      empower
    </mat-list-option>
  </mat-selection-list>

  </td>
  </tr>
  </table>

  <table class='mat-elevation-z4' *ngIf="ldata.selected_class === 'wiz'">
    <tr>
      <td colspan=2><button mat-raised-button style='width: 10rem;'
        [style.background-color]="ldata.colors[ldata.selected_color]"
        [disabled]='!ldata.reee'
        (click)='ldata.recoveREEE();'
        matTooltip='Always recovers the maximum possible. Full recharge leftovers are saved'
        >recoveREEE</button></td>
    </tr>
    <tr>
      <td>{{ldata.reee}} / {{ldata.lvlToPoints[ldata.maxspell]}}</td>
      <td style='width: 4rem; text-align: right;' *ngIf="ldata.showpercent" class='lowalpha'>
        {{ldata.reee/ldata.lvlToPoints[ldata.maxspell] | percent:'1.0-2'}}</td>
    </tr>
    <tr>
      <td style='width: 10rem;' colspan=2>
        <!-- <mat-progress-bar style='position: absolute; top: 0; left: 0; z-index: 2; opacity: 33%;' color='accent' mode='determinate' [(value)]='ldata.currentpoints*200/ldata.maxpoints'></mat-progress-bar> -->
        <mat-progress-bar mode='determinate' color='accent' [(value)]='ldata.reee*100/ldata.lvlToPoints[ldata.maxspell]'></mat-progress-bar>
      </td>
    </tr>
  </table>

  </div>


<br>
<button mat-raised-button
[style.background-color]="ldata.colors[ldata.selected_color]"
(click)='ldata.calcspellpoints()'
matTooltip='Long rest'
>full recovery</button>
<br>
<br>
<mat-form-field style='width: 12rem;'><input matInput placeholder='manually ± points' [(ngModel)]='ldata.manualaddsubtract'></mat-form-field><button mat-button (click)='ldata.addsubtractpoints()'><mat-icon>accessible</mat-icon></button>
<br>
<mat-divider></mat-divider>
<br>
<p class='lowalpha'>probably only change these if you know what you're doing</p>
<table>
  <tr>
    <td>
      <mat-form-field>
        <mat-label>sorceryPoint * lvl multiplier</mat-label>
        <input matInput [(ngModel)]='ldata.sorcmulti' (change)='ldata.calcspellpoints()'>
      </mat-form-field>
    </td>
  </tr>
  <!-- <tr>
    <mat-checkbox>recoveREEE all access</mat-checkbox>
  </tr>
  <tr>
    <mat-checkbox>metamagic all access</mat-checkbox>
  </tr> -->
</table>
<table>
  <tr>
    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='ldata.max6th' placeholder='max 6ths'>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='ldata.max7th' placeholder='max 7ths'>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='ldata.max8th' placeholder='max 8ths'>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style='width: 5rem;'>
        <input matInput [(ngModel)]='ldata.max9th' placeholder='max 9ths'>
      </mat-form-field>
    </td>
  </tr>
</table>

</div>
